.App {
  font-family: sans-serif;
  text-align: center;
}

#squareStyle {
  display: flex;
  flex-wrap: wrap;
  width: 312px;
  margin: 0 auto;
}

/* .container {
  flex-wrap: nowrap | wrap | wrap-reverse;
} */

/* todo: center content in square */
.square {
  background: lightblue;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  border: 2px solid darkblue;
  outline: none;
  height: 100px;
  width: 100px;
}
